#!/usr/bin/env bash

#----------------------------------------------------------------------------
# environment
SCRIPTDIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"
[ -f ${SCRIPTDIR}/../spack_setup.sh ] && source ${SCRIPTDIR}/../spack_setup.sh || \
    { echo "cannot locate ${SCRIPTDIR}/../spack_setup.sh}"; exit 1; }

. hpc-apps-versions.cfg || { echo "ERROR: cannot source hpc-apps-versions.cfg!!"; exit 1; }
#----------------------------------------------------------------------------

# exit-on-any-error
set -e

spack_env="${spack_deployment}-hpc-apps"
app_name="${app_name:-fixme_appname}"
echo app_name=${app_name}



usage ()
{
    cat <<EOF
usage: ${0} <-h|--help> <-n|--dry-run> <--no-mirrror> <-c|--concretize-only>
       <-c|--concretize-only>
       <-h|--help>     : display this help message
       <-n|--dry-run>  : echo only, do not execute
       <--no-mirrror>  : do not update source mirror with source code packages
EOF
}



parse_args ()
{
    dryrun=false
    update_source_mirror=true
    concretize_only=false
    echo_cmd=""

    while [ ${#} -gt 0 ] ; do
        case ${1} in

            "-h"|"--help")
                usage
                exit 1
                ;;

            "-n"|"--dry-run")
                dryrun=true
                echo_cmd="echo"
                echo " --> DRY-RUN ONLY!"
                ;;

            "--no-mirror")
                update_source_mirror=false
                echo " --> NOT UPDATING SOURCE MIRROR"
                ;;

            "-c"|"--concretize-only")
                echo " --> CONCRETIZE ONLY (no build)"
                concretize_only=true
                ;;

            *)
                echo "unrecognized argument: ${1}"
                echo "  file or directory name expected!!"
                usage
                exit 1
        esac
        shift # past argument
    done

    export dryrun
    export update_source_mirror
    export echo_cmd
    export concretize_only
    return
}






# activate & probe the spack environment where we build our apps
activate_spack_env() {

    spack env activate ${spack_env} || exit 1

    for arg in repos mirrors concretizer packages config modules compilers; do
        spack config blame ${arg} && echo && echo # show our current configuration, with what comes from where
    done
    spack compilers

    # clean any cruft from last step before moving on, to not fill our build stage
    spack clean -s

    cat hpc-apps-versions.cfg ||  { echo "ERROR: cannot locate hpc-apps-versions.cfg!!"; exit 1; }
}



# function to loop over outer prodcut of (compiler)x(serial packages) & (compiler)x(mpis)x(parallel packages)
comp_spkg_ppkg_loop() {

    for comp in "${COMPS[@]}"; do
        for spkg in "${SPKGS[@]}"; do
            #echo "spack add $spkg %$comp" >> ${app_name}.tmp
            ${echo_cmd} spack add ${spkg} %${comp}
        done
        for mpi in "${MPIS[@]}"; do
            # make sure we have the requested MPI - otherwise abort.
            # (prevents us from accidientally installing MPIs we might not want)
            spack find --format="{name}@={version}%{compiler}" ${mpi}%${comp} \
                || { echo "Cannot locate requested MPI: ${mpi}%${comp}"; exit 1; }

            for ppkg in "${PPKGS[@]}"; do
                #echo "spack add $ppkg %$comp ^$mpi %$comp" >> ${app_name}.tmp
                ${echo_cmd} spack add ${ppkg} %${comp} ^${mpi} %${comp}
            done
        done
    done
}


# build applications - use the same build_spack_pkgs defined when
build_spack_apps()
{
    ${echo_cmd} spack concretize --fresh || exit 1
    ${concretize_only} && exit 0

    # populate our source cache mirror with any new packages introduced by these specs
    ${update_source_mirror} && ${echo_cmd} spack mirror create --directory ${spack_source_cache} --all

    ${dryrun} || build_spack_pkgs

    # build/refresh the lmod module tree
    ${dryrun} || my_spack_refresh_lmod -y
}
