#!/usr/bin/env bash

#----------------------------------------------------------------------------
# environment
SCRIPTDIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"
[ -f ${SCRIPTDIR}/../spack_setup.sh ] && . ${SCRIPTDIR}/../spack_setup.sh || \
    { echo "cannot locate ${SCRIPTDIR}/../spack_setup.sh}"; exit 1; }

. hpc-apps-versions.cfg || { echo "ERROR: cannot source hpc-apps-versions.cfg!!"; exit 1; }
#----------------------------------------------------------------------------



spack_env="${spack_deployment}-hpc-apps"
app_name="${app_name:-fixme_appname}"
echo app_name=${app_name}



usage ()
{
    cat <<EOF
usage: ${0} <-h|--help> <-n|--dry-run>
       <-h|--help>     : display this help message
       <-n|--dry-run>  : echo only, do not execute
EOF
}



parse_args ()
{
    dryrun=false
    echo_cmd=""

    while [ ${#} -gt 0 ] ; do
        case ${1} in

            "-h"|"--help")
                usage
                exit 1
                ;;

            "-n"|"--dry-run")
                shift # past argument
                dryrun=true
                echo_cmd="echo"
                echo " --> DRY-RUN ONLY!"
                ;;

            *)
                echo "unrecognized argument: ${1}"
                echo "  file or directory name expected!!"
                usage
                exit 1
        esac
    done

    export dryrun
    export echo_cmd

    return
}






# activate & probe the spack environment where we build our apps
activate_spack_env() {

    spack env activate ${spack_env} || exit 1

    for arg in repos mirrors concretizer packages config modules compilers; do
        spack config blame ${arg} && echo && echo # show our current configuration, with what comes from where
    done
    spack compilers

    # clean any cruft from last step before moving on, to not fill our build stage
    spack clean -s

    cat hpc-apps-versions.cfg ||  { echo "ERROR: cannot locate hpc-apps-versions.cfg!!"; exit 1; }
}



# function to loop over outer prodcut of (compiler)x(serial packages) & (compiler)x(mpis)x(parallel packages)
comp_spkg_ppkg_loop() {

    for comp in "${COMPS[@]}"; do
        for spkg in "${SPKGS[@]}"; do
            #echo "spack add $spkg %$comp" >> ${app_name}.tmp
            ${echo_cmd} spack add $spkg %$comp
        done
        for mpi in "${MPIS[@]}"; do
            for ppkg in "${PPKGS[@]}"; do
                #echo "spack add $ppkg %$comp ^$mpi %$comp" >> ${app_name}.tmp
                ${echo_cmd} spack add $ppkg %$comp ^$mpi %$comp
            done
        done
    done
}



build_spack_apps() {

    # run a number of installs in the background
    for bg_inst in $(seq 1 ${n_concurrent_installs}); do
        # install (possibly from cache), if fails potentially try again ignoring cache
        spack install ${spack_install_flags} \
            || [ "x${spack_install_flags}" != "x${spack_install_flags_no_cache}" ] && spack install ${spack_install_flags_no_cache} &
    done

    # run a single install in the foreground.  try with our build flags, which could use a binary cache,
    # but fall back to a --no-cache attempt if necessary
    spack install ${spack_install_flags} || spack install ${spack_install_flags_no_cache} || exit 1
    wait
}
