#!/usr/bin/env bash

#----------------------------------------------------------------------------
# environment
SCRIPTDIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"
[ -f ${SCRIPTDIR}/../spack_setup.sh ] && source ${SCRIPTDIR}/../spack_setup.sh || \
    { echo "cannot locate ${SCRIPTDIR}/../spack_setup.sh}"; exit 1; }

. hpc-libs-versions.cfg || { echo "ERROR: cannot source hpc-libs-versions.cfg!!"; exit 1; }
#----------------------------------------------------------------------------

# exit-on-any-error
set -e

app_name="${app_name:-fixme_appname}"
parent_env="${spack_deployment}-hpc-libs"
parent_yaml="spack-${parent_env}.yaml"

spack_env="${parent_env/hpc-libs/"${app_name}"}"     #"${spack_deployment}-hpc-libs-${app_name}"
# echo ${spack_env} && exit 0
spack_yaml="spack-${spack_env}.yaml"


#spack_env="${spack_deployment}-hpc-libs-${app_name}"
#echo app_name=${app_name}



create_spack_env(){

    # create a new spack env for this applciation,
    # inheriting the parent yaml settings
    if [[ "${spack_env}" != "${parent_env}" ]] ; then

        echo "creating ${spack_env} from parent ${parent_env}"
        rm -f ${spack_yaml}
        cp ${parent_yaml} ${spack_yaml}

        sed -i "s,${parent_env},${spack_env},g" ${spack_yaml}
    fi
}


# activate & probe the spack environment where we build our apps
create_and_activate_spack_env()
{
    create_spack_env
    activate_env

    #spack mark --all --implicit

    for arg in repos mirrors concretizer config modules packages compilers; do
        spack config blame ${arg} && echo && echo # show our current configuration, with what comes from where
    done
    spack compilers

    # clean any cruft from last step before moving on, to not fill our build stage
    spack clean -s

    cat hpc-libs-versions.cfg ||  { echo "ERROR: cannot locate hpc-libs-versions.cfg!!"; exit 1; }
}



# function to loop over outer prodcut of (compiler)x(serial packages) & (compiler)x(mpis)x(parallel packages)
comp_spkg_ppkg_loop() {

    for comp in "${COMPS[@]}"; do
        for spkg in "${SPKGS[@]}"; do
            ${echo_cmd} spack add ${spkg} %${comp}
        done
        for mpi in "${MPIS[@]}"; do
            # make sure we have the requested MPI - otherwise abort.
            # (prevents us from accidientally installing MPIs we might not want)
            mpi_desc="$(spack env activate ${parent_env} && spack find --format="{name}@={version}%{compiler} {hash}" ${mpi}%${comp})" \
                || { echo "Cannot locate requested MPI: ${mpi}%${comp}"; exit 1; }

            mpi_spec="$(echo ${mpi_desc} | awk '{print $1}')"
            mpi_hash="$(echo ${mpi_desc} | awk '{print $2}')"

            echo "${mpi_desc}"

            spack mark --explicit "/${mpi_hash}"

            for ppkg in "${PPKGS[@]}"; do
                ${echo_cmd} spack add ${ppkg} %${comp}  ^/${mpi_hash}
            done
        done
    done
}


# build applications - use the same build_spack_pkgs defined when
build_spack_apps()
{
    ${echo_cmd} spack concretize --fresh || exit 1
    ${concretize_only} && exit 0

    # populate our source cache mirror with any new packages introduced by these specs
    ${update_source_mirror} && ${echo_cmd} spack mirror create --directory ${spack_source_cache} --all

    ${dryrun} || build_spack_pkgs

    # build/refresh the lmod module tree
    ${dryrun} || my_spack_refresh_lmod -y
}
